{% extends "plantillaPadre.html" %}

{% load static %}

{% block title %} Mensaje enviado {% endblock %}

{% block content %}

<div class="jumbotron text-center" style="margin-top: 100px;">
    <h1 class="display-3">Gracias por su mensaje!</h1>
    <p class="lead"><strong>Nos pondremos en contacto con usted a la brevedad.</strong></p>
    <hr>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="/" role="button">Volver al inicio</a>
    </p>
  </div>

{% endblock %}